[Unit]
Description=auto-connect JACK ports matching given patterns
After=jack.service
Requires=jack.service

[Service]
Type=idle
PrivateTmp=true
ExecReload=kill -HUP $MAINPID
ExecStart=/bin/bash -c '/usr/local/bin/jack-matchmaker -p "/home/student/SPRAWL/matchmaker/sprawl_server_stereo.pattern" -e'

[Install]
WantedBy=multi-user.target
